.header {
    text-align: center;
    padding: 40px;
}
body{
	background-image: url("img5.jpg");
	text-align: center;
}
p{
	text-align: center;

}
h1{
	text-align: center;
}

h2{
	text-align: center;
}
h3{
	text-align: center;
}
